/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');*/
*{
    font-family: Ubuntu, sans-serif;
}

body{
    background: url("images/font.png") center/cover;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.header-menu{
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}
.headerLink{
    margin-right: 24px;
    color: #ffffff;
}

#icon1 {
    width: 98px;
    height: 14px;
    left: 22px;
    background: url("images/journey.svg") no-repeat center/contain;
}

#icon1:hover {
    background-image: url("images/JOURNEYsvg.svg");
}

#icon21 {
    width: 21px;
    height: 24px;
    background: url("images/Vector.svg") no-repeat center/contain;
}

#icon21:hover{
    background-image: url("images/calendar-alt-regular 1.svg");
}
#icon22 {
    width: 21px;
    height: 24px;
    background: url("images/Vector1.svg") no-repeat center/contain;
}

#icon22:hover{
    background-image: url("images/envelope-open-regular 1.png");
}#icon23 {
     width: 21px;
     height: 24px;
     background: url("images/Vector3.svg") no-repeat center/contain;
 }

#icon23:hover{
    background-image: url("images/compass-regular 1.png");
}
.headerLinkLogIn {
    color: #ffffff;
    text-decoration: none;
}
.headerLinkSingUp {
    color: #ffffff;
    text-decoration: none;
}
/*одной строкой*/
.headerLinkLogIn:hover{
    color: #01813F;
}
.headerLinkSingUp:hover{
    color: #01813F;
}

.header-left{
    display: flex;
    align-content: center;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: end;
}

.square{
    position: absolute;
    /*margin-left: 0px;*/
    margin-top: 33px;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.SingLog-Bar p{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 59px;
}

.SingLog-Bar a{
    /*font-weight: 400;*/
    font-size: 14px;
    line-height: 14px;
    padding-left: 216px;
    /*font-size: 14px;*/
    /*line-height: 14px;*/
    /*font-weight: 400;*/
    color: #3CB878;
    /*color: #01813F;*/
}

.SingLog-Bar{
    display: flex;
    align-items: center;
    width: 444px;
    padding-top: 31px;
    /*justify-content:space-between;*/
    padding-bottom: 16px;
}

.wrapper{
    position: relative;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    /*padding-left: 60px;*/
    /*padding-right: 60px;*/
    margin: 50px auto;
    text-align: center;
}

.wrapper-bar{
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.wrapper-bar-facebook{
    display: flex;
    justify-content: space-around;
    background: #305DB8;
    width: 160px;
    align-items: center;
    color: #ffffff;
    border-radius: 4px;
    margin-left: 59px;
}

.wrapper-bar-google{
    display: flex;
    background: #DF4A32;
    width: 160px;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    border-radius: 4px;
    margin-right: 59px;
}
.line-or{
    /*padding: 25px 0px;*/
    line-height: 14px;
    font-weight: 400;
    padding-top: 32px;
    padding-bottom: 11px;
    position: relative;
    color: #848484;
}
.line-or p::before{
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    transform: translate(-100%, -50%);
    position: absolute;
    top: 70%;
}
.line-or p::after{
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 152px;
    position: absolute;
    top: 70%;
}

form {
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 57px;
}

.formInput {
    width: calc(100% - 120px);
    /*width: 75%;*/
    box-sizing: border-box;
    outline: none;
    padding: 12px 20px;
    margin-bottom: 14px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.formInput:focus {
    color: #000;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .52);
}

.formInput::placeholder {
    color: #bebebe;
}

.termsCheckbox{
    display: flex;
    padding-top: 12px;
    padding-left: 56px;
}
.bottom-link a{
    text-decoration: none;
}

.logoImgContainer {
    display: flex;
    align-items: center;
}

.logoImgContainer::after {
    content:'';
    width: 1px;
    height: 28px;
    background-color: #2b0d09;
    mix-blend-mode: normal;
    opacity: .1;
    flex-shrink: 0;
    margin-left: 7px;
}

.formLink {
    color: #3CB878;
    cursor: pointer;
}

.formLink:hover {
    color: #01813F;
    text-decoration: underline;
}

.termsCheckboxInput {
    display: block;
    margin-right: 8px;
}

button{
    font-size: 1.1rem;
    /*margin-top: 1rem;*/
    margin-top: 20px;
    padding: 8px 0;
    border-radius: 4px;
    outline: none;
    border: none;
    width: calc(100% - 120px);
    background: rgba(60, 184, 120, 0.8);
    color: #fff;
    cursor: pointer;
    /*margin:auto 59px;*/
}
button:hover{
    background: #01813F;
}